<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>chat</title>
    <style>
        input { display: block; }
        ul {list-style: none;}

    </style>
    <script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
    <ul id="messages"></ul>
    <p>Let's chat (from template)</p>
    <form id="chatbox">
        <textarea id="msg_text"></textarea>
        <input type="submit" value="Send" />
    </form>



    
<script>
    $(function() {
        var socket = null;
        
        var messages = $("#messages");
        
        $("#chatbox").submit(function() {
            var msgval = document.getElementById('msg_text').value;
            alert(msgval);

            if (!msgval) return false;

            if (!socket) {
                alert("没有websocket链接！");
                return false;
            }

            // var msg_val = msgbox.val()；
            // alert(msgval);
            socket.send(msgval);
            $("#msg_text").val("");
            return false;

        });

        if (!window["WebSocket"]) {
            alert("你的浏览器不支持websocket");
        } 
        else {
            socket = new WebSocket("ws://{{.Host}}/room");
            socket.onclose = function() {
                alert("链接关闭");
            }

            socket.onmessage = function(e) {
                // alert("haha" + e.data);
                messages.append($("<li>").text(e.data));
            }
        }
    });
</script>
</body>

</html>